*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    text-align: center;
}
body{
    background-color: #788a98c2 !important;
}
.header h1{
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    /* color: black; */
    text-shadow: 5px 5px 10px rgba(238, 237, 237, 0.363);
    margin-bottom: 2rem;
    
}
.header h1 span{
    color: rgba(255, 0, 0, 0.733);
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff75 ;
    
    border-radius: 10px;
    
}
    
.card img{
    width: 16rem;
    height: 20rem;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 50% top;
    opacity: .8;
    filter:blur(2px);   
        &:hover{
        opacity: 1;
        filter:blur(0);
    }
    
    
      
}
#card{
    width: 18rem;
    height: 24rem;
    margin-top: 1rem !important;
}
.card:hover{
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
    color: white;
   
    /* filter:blur(0); */
    
    
}
.card .second-face{
    padding: 3.5rem;
    line-height: 2.8rem;
    font-size: 1.3rem;
    width: 16rem;
    height: 20rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.534);
    border: 2px solid red;

    
}
.card{
    background-color: rgba(255, 255, 255, 0.534) !important;
    border-radius: 15px !important;

    padding: 1rem;
}
h3{
    background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 9%, rgba(117, 109, 109, 0.349) 61%);
color: white;
border-radius: 0 0 10px 10px;
width: 16rem;

/* max-width: 10rem; */
}